<div class="container" layout="row" flex  layout-align="center center">
	<md-content layout="column" class="login-card" flex-gt-sm="60" flex-gt-md="40" style="padding:40px;">
		<h1 class="serv-title">Kapeloi</h1>
	  <h4 class="serv-sub">Descubre la oferta de tiendas a tu alrededor</h4>
		<md-whiteframe class="md-whiteframe-4dp">
			<md-content class="card-e" layout-paddinig>
				<form name="loginForm">
					<md-input-container class="md-block">
						<label>Email</label>
						<input ng-model="user.email">
						<div ng-messages="loginForm.email.$error">
		          <div ng-message="required">This is required.</div>
		          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
		        </div>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Contraseña</label>
						<input ng-model="user.password" type="password">
					</md-input-container>
					<p ng-show="loginErr" class="error">
						{{loginErr}}
					</p>
					<md-input-container >
						<div layout="row" layout-margin>
							<md-button type="submit" class="md-raised" ng-click="login()">Iniciar sesión</md-button>
							<md-button class="md-raised md-primary" ui-sref="signup()">Registrarme</md-button>
						</div>
					</md-input-container>
				</form>
			</md-content>
		</md-whiteframe>
	</md-content>

</div>
