<!--<md-toolbar class="md-primary" layout="row">
  <p flex>
    buscador
  </p>
  <md-icon class="material-icons">search</md-icon>
</md-toolbar>
-->
<div layout="column" flex layout-fill ng-cloak>
  <md-subheader class="md-primary md-no-momentum">
    <md-input-container style="margin:0;height:30px;" flex>
      <input ng-model="searchName" type="text" placeholder="Buscar comercios">
    </md-input-container>
    <md-button class="md-fab md-mini md-primary" aria-label="search" ng-click="searchComms()"><md-icon class="material-icons">search</md-icon></md-button>
  </md-subheader>
  <md-whiteframe layout="column" class="md-whiteframe-z3 mainframe-comms" layout-align="center center">
    <md-content layout="column" layout-align="top center">
        <md-list>
          <md-subheader class="md-no-sticky">
            <span>Comercios disponibles en {{address_available}}</span>
            <md-button class="md-raised md-primary" ui-sref="main.home">Cambiar ubicación</md-button>
          </md-subheader>
          <div ng-hide="comms.length || emptyCommList" layout="row" layout-align="center center" class="text-center">
            <!--<h2 style="color: #aaa">No hay comercios disponibles para mostrar en esta zona.</h2>-->
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
          <div ng-show="emptyCommList && !comms.length" layout="row" layout-align="center center" class="text-center">
            <h2 style='color: #aaa'>No hay comercios disponibles para mostrar en esta zona.</h2>
          </div>
          <md-list-item class="md-3-line" ng-repeat="comm in comms" ng-click="null">
            <!--<img ng-show="comm.logo" ng-src="{{comm.logo}}?{{$index}}" class="md-avatar" alt="Logo">-->
            <div>
              <md-button ng-show="isLogged" class="md-icon-button md-mini" ng-click="toggleStar(comm._id)" aria-label="Star">
                <md-icon ng-show="favs && favs.indexOf(comm._id) != -1" class="material-icons md-18">star</md-icon>
                <md-icon ng-show="favs && favs.indexOf(comm._id) == -1" class="material-icons md-18">star_border</md-icon>
              </md-button>
            </div>
            <div class="md-list-item-text" layout="column" flex>
              <h3>{{ comm.name }}</h3>
              <h4>{{ comm.location }}</h4>
            </div>
            <div>
              <md-button class="md-raised md-primary md-mini" ui-sref="main.commDetail({comm_id: comm._id, comm: comm})">+Info</md-button>
            </div>

            <div ui-view="comminfo"></div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
    </md-content>
  </md-whiteframe>
</div>
