<div layout="row" flex  layout-align="start start">
  <md-content layout="column" class="login-card" flex>
    <md-whiteframe class="md-whiteframe-4dp" class="card-e" layout-padding>
        <p>
          Crear una nueva cuenta de usuario:
        </p>
        <form name="signupForm">

            <div layout-gt-sm="row">
              <md-input-container class="md-block">
                <label>Nombre*</label>
                <input autocomplete="off" name="first_name" required ng-model="user.first_name" maxlength="50">
                <div ng-messages="signupForm.first_name.$error" role="alert">
                  <div ng-message="required">Campo requerido</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Apellido*</label>
                <input autocomplete="off" name="last_name" required ng-model="user.last_name" minlength="3" maxlength="50">
                <div ng-messages="signupForm.last_name.$error" role="alert">
                  <div ng-message="required">Campo requerido</div>
                </div>
              </md-input-container>
            </div>
            <md-input-container class="md-block">
              <label>Email*</label>
              <input required type="email" name="email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
              <div ng-messages="signupForm.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  El correo debe tener un formato correcto
                </div>
              </div>
              <div role="alert">
                {{signupErr.id.message}}
              </div>

            </md-input-container>
            <md-input-container class="md-block">
              <label>Contraseña*</label>
              <input autocomplete="off" required name="password" ng-model="user.password" type="password" ng-minlength="6" ng-maxlength="50">
              <div ng-messages="signupForm.password.$error" role="alert">
                <div ng-message="required">Introduce una contraseña correcta</div>
                <div ng-message="ng-minlength">Longitud obligatoria de 6 a 50 carácteres</div>
              </div>
            </md-input-container>
            <!--<md-input-container class="md-block">
              <label>Rol</label>
              <md-select ng-model="user.role">
                <md-option value="user">User</md-option>
                <md-option value="admin">Admin</md-option>
              </md-select>
            </md-input-container>-->
            <p>
              * Campos obligatorios
            </p>
            <p ng-show="signupErr" class="error">
              {{signupErr.first_name.message}}
              {{signupErr.last_name.message}}
              {{signupErr.password.message}}
              {{signupErr.id.message}}
            </p>
            <md-input-container class="md-block">
              <div layout="row" layout-margin>
                <md-button class="md-raised" ui-sref="main.login"><i class="fa fa-chevron-circle-left"></i>&nbsp;Atrás</md-button>
                <md-button class="md-raised md-primary" ng-click="createUser()">Registrarme</md-button>
              </div>
            </md-input-container>
        </form>
    </md-whiteframe>
  </md-content>
</div>
