<div md-whiteframe="3" class="container" ng-show="role === 'admin'">
  <form name="newCommForm">
    <md-input-container>
      <label>Nombre</label>
      <input ng-model="newcomm.name">
    </md-input-container>
    <md-input-container>
      <label>Localidad</label>
      <input ng-model="newcomm.location">
    </md-input-container>
    <md-input-container>
      <label>Actividad</label>
      <input ng-model="newcomm.activity">
    </md-input-container>
    <md-input-container>
      <label>Web</label>
      <input ng-model="newcomm.web">
    </md-input-container>
    <md-input-container>
      <label>Email</label>
      <input ng-model="newcomm.email">
    </md-input-container>
    <md-input-container>
      <label>Dirección</label>
      <input ng-model="newcomm.address">
    </md-input-container>
    <md-input-container>
      <label>Descripción</label>
      <input ng-model="newcomm.description">
    </md-input-container>
    <md-input-container>
      <label>Teléfono</label>
      <input ng-model="newcomm.phone">
    </md-input-container>
    <md-input-container>
      <label>GPS</label>
      <input ng-model="newcomm.gps">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addComm()">Crear</md-button>
  </form>
</div>
