<div class="login jumbotron center-block">
  <h1>Login</h1>
  <div ng-show="signupSuccess" class="alert alert-success" role="alert">{{signupSuccess}}</div>
  <form role="form">
    <div class="form-group">
      <label for="username">Email</label>
      <input type="text" class="form-control" ng-model="user.email" id="email" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
    </div>
    <div ng-show="loginErr" class="alert alert-danger" role="alert">{{loginErr}}</div>
    <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
  </form>
  <a ui-sref="signup()">Click here to Signup</a>
</div>
