<h4>Mis comercios</h4>
<div ng-hide="comms.length" layout="row" layout-align="center center">
  <h2 style="color: #aaa">Aún no tienes comercios disponibles.</h2>
</div>
<md-list-item class="md-3-line" ng-repeat="comm in comms" ng-click="null">
  <img ng-show="comm.logo" ng-src="{{comm.logo}}?{{$index}}" class="md-avatar" alt="Logo">
  <div class="md-list-item-text" layout="column">
    <h3>{{ comm.name }} | {{ comm._id }}</h3>
    <h4>{{ comm.location }}</h4>
    <p>{{ comm.description }}</p>
  </div>
  <div ng-show="$state.includes('home.main.comms.list')">
    <md-button class="md-primary" ng-click="toggleStar(comm._id)" aria-label="Star">
      <md-icon ng-show="favs && favs.indexOf(comm._id) != -1" class="material-icons md-18">star</md-icon>
      <md-icon ng-show="favs && favs.indexOf(comm._id) == -1" class="material-icons md-18">star_border</md-icon>
    </md-button>
  </div>
  <div ng-show="$state.includes('home.main.comms.list')">
    <md-button class="md-warn" ng-click="deleteComm(comm._id)" aria-label="Delete" ng-show="role === 'admin'">
      <md-icon class="material-icons md-18">delete</md-icon>
    </md-button>
  </div>
  <div >
    <md-button class="md-primary" ng-click="getOwnerkey(comm._id, $event)" aria-label="Ownerkey" ng-show="role === 'admin'">
      <md-icon class="material-icons md-18">vpn_key</md-icon>
    </md-button>
  </div>
  <div ng-show="$state.includes('home.main.owners.list')">
    <md-button class="md-warn" ng-click="deleteCode(comm._id)" aria-label="RemoveOwn" >
      <md-icon class="material-icons md-18">block</md-icon>
    </md-button>
  </div>
</md-list-item>
<div flex>
  <p>
    Si aún no has recibido un código para empezar a administrar tu comercio, ponte en contacto con el administrador de tu zona.
    Sigue las instrucciones a continuación para introducir un nuevo comercio.
  </p>
  <md-button class="md-raised md-primary" ui-sref="home.main.owners.newprop">Añadir una nueva propiedad</md-button>
</div>
