  <md-button ng-click="toggleLeft()" class="md-primary menu" hide-gt-sm="" aria-label="menu">
    <md-icon class="material-icons" style="color:white;">menu</md-icon>
  </md-button>

  <h3 flex>Kapeloi panel</h3>

  <!-- User label only if logged -->
  <div class="md-toolbar-tools" ng-show="isLogged" hide-sm hide-xs layout-align="end center" flex>
    <md-list>
      <md-list-item class="md-3-line text-right">
        <div class="md-list-item-text">
          <h4 class="text-white">{{first_name}} {{last_name}}</h4>
          <p class="text-white">{{_id}}</p>
        </div>
      </md-list-item>
    </md-list>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x" style="color:#222"></i>
      <i class="fa fa-user fa-stack-1x"></i>
    </span>
  </div>

  <md-menu md-position-mode="target-right target">
    <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <md-icon class="material-icons" style="color:white;">more_vert</md-icon>
    </md-button>

    <md-menu-content width="4">
      <!--<md-menu-item ng-repeat="item in [1, 2, 3]">
        <md-button ng-click="announceClick($index)">
            <div layout="row" flex="">
              <p flex="">Option {{item}}</p>
            </div>
        </md-button>
      </md-menu-item>-->
      <md-menu-item>
        <md-button ui-sref="login()" ng-hide="isLogged">
          <i class="fa fa-sign-in  fa-24"></i> &nbsp;Login
        </md-button>
        <md-button ng-click="logout()" ng-show="isLogged">
          <i class="fa fa-sign-out fa-24"></i> &nbsp;Logout
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
